.game-choose {
}

.game-choose .list {
  display: grid;
  list-style: none;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 200px 200px;
}

.game-choose .guess {
  padding: 1em;
}
