.game-core {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3em;
}

.game-core .info {
  display: flex;
  gap: 3em;
  font-weight: bold;
}

.game-core .info .players {
  margin: auto;
  display: flex;
  text-align: center;
  gap: 4em;
}

.game-core .info .players .player {
}

.game-core .game-core-actions {
}

.game-core .hints {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
  gap: 3em;
  overflow: auto;
  padding: 1em 3em;
}

.game-core .answer {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2em;
}
