:root {
  --primary-color: #dde;
  --second-color: #7A89C2;
  --accent-color: #D30C7B;
  --accent-color-hover: #B5005D;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {
  background-color: var(--primary-color);
  height: 100vh;
}
.second {
  background-color: var(--second-color);
  padding: 2px;
}
.section {
  height: 33%;
  display: flex;
  justify-content: center;
}
