@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");

:root {
  --primary-color: #2a3972;
  --secondary-color: #f5f3f5;
  --accent-color: #d30c7b;
  --button-color: #3a4982;
  --input-color: #eaeaea;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Micro 5", sans-serif; */
  font-family: "Source Code Pro", monospace;
}

p {
  font-size: 1.3rem;
  font-weight: bold;
  color: #ffff00;
  letter-spacing: 5px;
  position: absolute;
  top: 20%;
  left: 14%;
  transform: rotate(-25deg);
}
