@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Micro+5&display=swap");

:root {
  --primary-color: #dde;
  --secondary-color: #2a3972;
  --accent-color: #d30c7b;
  --button-color: #3a4982;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Micro 5", sans-serif; */
  font-family: "Source Code Pro", monospace;
}

.container {
  background-color: var(--primary-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.header > h1 {
  font-size: 3rem;
  letter-spacing: 5px;
}

h1 > span {
  color: #fffc31;
}

.main {
  background-color: var(--secondary-color);
  padding: 0.7em;
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
